.navbar {
  background-color: #007bff;
  padding: 10px 20px;
  color: white;
  position: relative;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  display: flex;
  gap: 10px;
}

.navbar-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s;
}

.navbar-button:hover {
  color: #0056b3;
}

.navbar-hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: all 0.3s;
}

.open {
  transform: rotate(360deg);
}

.open + .line {
  opacity: 0;
}

.open + .line + .line {
  transform: rotate(-45deg);
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #007bff;
    width: 100%;
    padding: 10px 0;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-hamburger {
    display: flex;
  }
}
